# Sphinx temporarily pinned because of this issue
# https://github.com/sphinx-doc/sphinx/issues/11633
sphinx~=7.3.7
sphinx-notfound-page
immunity-sphinx-theme~=1.0.0
immunity-utils[qa] @ https://github.com/edge-servers/immunity-utils/tarball/master
